<h1>Welcome, Sign up below:</h1>
<% if @errors %>
<% @errors.each do |e| %>
<ul>
<li><strong><%= e %></strong></li>
<% end %>
</ul>
<% end  %>
<br>
<form action="/users" method="POST">
<label>Username: </label>
<input type="text" name="username" id="username" placeholder="username">
<br>
<label>Password: </label>
<input type="password" name="password" id="password" placeholder="password">
<br>
<label>Password Confirmation: </label>
<input type="password" name="password_confirm" id="password_confirm" placeholder="password">
<br>
<input type="submit" value="Sign Up">
</form>